.parent{
    padding: 2em;
}

.box{
    background-color: orangered;
    height: 1200px;  
    /* //change to 1220px */
    margin: 0.5em;
}

.box-1{
    display: flex;
}

.box-1-1{
    flex: 1;
    background-color: aquamarine;
    margin: 0.5em;
}

.box-1-2{
    flex: 1;
    background-color: aquamarine;
    margin: 0.5em;
}

.box-2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.box-2-1{
    flex: 1;
    background-color: aquamarine;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em;
}

.box-2-2{
    flex: 1;
    background-color: aquamarine;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-3{
    display: flex;
    flex-direction: column;
}

.box-3-a{
    flex: 1;
    background-color: orangered;
    margin: 0;
}

.box-3-b{
    flex: 1;
    background-color: orangered;
    margin: 0;
}

.b1{
    display: flex;
}

.b2{
    display: flex;
}

.box-3-1{
    flex: 1;
    background-color: aquamarine;
    margin: 0.5em;
    margin-left: 0;
    margin-top: 0;
}

.box-3-2{
    flex: 1;
    background-color: aquamarine;
    margin: 0.5em;
    margin-right: 0;
    margin-top: 0;
}

.box-3-3{
    flex: 1;
    background-color: aquamarine;
    margin: 0.5em;
    margin-left: 0;
    margin-bottom: 0;
}

.box-3-4{
    flex: 1;
    background-color: aquamarine;
    margin: 0.5em;
    margin-bottom: 0;
    margin-right: 0;
}

a{
    text-decoration: none;
    color: #000;
}

.top-scroll{
    background-color: green;
    position: fixed;
    bottom: 0;
    margin-left: 80%;
    margin-right: 5%;
    padding: 0.2em;
}

footer{
    margin-top: 80px;
}

#top{
    display: flex;
    justify-content: center;
}

.lis{
    padding: 0.7em;
}

@media(min-width: 768px){
    .parent{
        display: flex;
    }

    .box{
        flex: 1;
    }
}







